{{> mainmenu _id="settings" }}



<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Register</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input value="{{user.firstName}}" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input value="{{user.lastName}}" type="text" name="lastName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input value="{{user.email}}" type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input value="{{user.password}}" type="password" name="password">
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
                {{> formerror }}
            </div>
        </div>
        <aside class="ui five wide column">
            <div class="ui column">
                <h3 class="ui header">Upload a Profile image</h3>
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <form action="/userPicUpload" method="post" enctype="multipart/form-data">
                                            <input class="ui inverted grey button" type="file" name="img" />
                                            <input class="ui inverted grey button" type="submit" name="submit" value="upload" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <img src='/getUserPic'  onerror="this.src = 'images/noUserPic.jpg';" />
                        </div>
                        <div class="content">
                            <a class="header">{{user.firstName}} {{user.lastName}}</a>
                        </div>
                        <div class="extra content">
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>
<script src="js/cards.js"></script>
